extends layout

block styles
  link(rel="stylesheet", href="/plugin/codemirror/lib/codemirror.css")

block scripts
  script(src="/javascripts/jquery.min.js")
  script(src="/plugin/codemirror/lib/codemirror.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/client-change-set.js")

block content
  h1 HTML Editor
  p Please enter HTML code into the area below to create a page.

  div(class="editor-div")
  br
  <input type="button" onclick="sendUpdate();" value="Send Update"/>
  br
  <input type="button" onclick="location.href='/viewhtml';" value="View Rendered HTML"/>

  script(src="/javascripts/default.js")
