extends layout

block styles
  link(rel="stylesheet", href="/plugin/codemirror/lib/codemirror.css")

block scripts
  script(src="/javascripts/jquery.min.js")
  script(src="/plugin/codemirror/lib/codemirror.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/client-change-set.js")

block content
  p Please enter HTML into the editor below to create a page.
  <input type="button" onclick="location.href='/viewhtml';" value="View Rendered HTML"/>
  br
  br
  div(class="editor-div main")

  script(src="/javascripts/default.js")
